{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
    {%  include "global_js_css_files.html" %}

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/datatables_advanced.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/datatables_api.js' %}"></script>
{#	<script type="text/javascript" src="{% static 'assets/js/pages/dashboard.js' %}"></script>#}
	<!-- /theme JS files -->

</head>

<body class="navbar-bottom navbar-top">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="../index.html"><img src="{% static 'assets/images/logo_light.png' %}" alt=""></a>

			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>

			<p class="navbar-text"><span class="label bg-success-400">Online</span></p>


			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="{% static 'assets/images/demo/users/face11.jpg' %}" alt="">
						<span>{{ user.first_name }} {{ user.last_name }}</span>
						<i class="caret"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
						<li><a href="#"><i class="icon-coins"></i> Change Password</a></li>
						<li class="divider"></li>
						<li><a href="/logout/"><i class="icon-switch2"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
			<p class="nav navbar-nav navbar-right navbar-text"><i class="icon-comment-discussion position-left"></i>Support</p>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Dashboard <small>Hello, {{ user.username }}!</small></h4>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<a href="#" class="media-left"><img src="{% static 'assets/images/demo/users/face11.jpg' %}" class="img-circle img-sm" alt=""></a>
								<div class="media-body">
									<span class="media-heading text-semibold">{% if user.is_authenticated %}Hello, {{ user.first_name }}!{% endif %}</span>
									<div class="text-size-mini text-muted">{{ user.email }}</div>
								</div>

								<div class="media-right media-middle">
									<ul class="icons-list">
										<li>
											<a href="#"><i class="icon-cog3"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
								    <li><a href="/user/home/"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                <li class="navigation-header"><span>Subjects</span> <i class="icon-menu" title="Forms"></i></li>
                                    <li><a href="/user/admin/view-subjects/"><i class="icon-copy"></i> <span>All Sujects</span></a></li>
                                <li class="navigation-header"><span>Programs</span> <i class="icon-menu" title="Forms"></i></li>
                                    <li class="active"><a href="/user/admin/view-programs/"><i class="icon-stack2"></i> <span>All Programs</span></a></li>
                                <li class="navigation-header"><span>Institues</span> <i class="icon-menu" title="Forms"></i></li>
                                     <li><a href="/user/admin/view-institutes/"><i class="icon-stack2"></i> <span>All Institutes</span></a></li>
                                     <li><a href="/user/admin/view-institute-admins/"><i class="icon-stack2"></i> <span>Register Institute Admin</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Style combinations -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title text-center">All Programs</h5>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>

{#					<div class="panel-body">#}
{#						The <code>DataTables</code> is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. <strong>Datatables support all available table styling.</strong>#}
{#					</div>#}

                    <table class="table datatable-show-all datatable-column-search-inputs table-bordered table-striped table-hover datatable-complex-header">
						<thead>
	                        <tr>
                                <th>ID</th>
	                            <th>Program Name</th>
	                            <th>Subjects</th>
	                            <th>Edit/ Delete</th>
                                <th style="display: none;"></th>
							    <th style="display: none;"></th>
                            </tr>
						</thead>
						<tbody>
							{%  for i in resp %}
                                <tr>
                                    <td>{{ i.program_id }}</td>
                                    <td>{{ i.program_name }}</td>
                                    <td>
                                        {% for j in i.subject_list %}
                                            {{ j }} <br>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-sm"><a href="/user/admin/edit-program/{{ i.program_id }}/" style="color: #fff;"><bold>Edit</bold></a><i class="icon-play3 position-right"></i></button>
                                        <button type="button" class="btn btn-danger btn-sm"><a href="/user/admin/edit-program/{{ i.program_id }}/" style="color: #fff;"><bold>Delete</bold></a><i class="icon-play3 position-right"></i></button>
                                    </td>
                                    <td style="display: none; visibility: hidden;"></td>
                                    <td style="display: none; visibility: hidden;"></td>
                                 </tr>
                            {% endfor %}
						</tbody>
						<tfoot>
							<tr>
				                <td></td>
				                <td></td>
				                <td></td>
                                <td></td>
				                <td style="display: none;"></td>
                                <td style="display: none;"></td>
				            </tr>
						</tfoot>
					</table>
				</div>
				<!-- /style combinations -->
			</div>
			<!-- /main content -->
		</div>
		<!-- /page content -->
	</div>
	<!-- /page container -->
    {%  include 'footer_html.html' %}

</body>
</html>