{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
    {%  include "global_js_css_files.html" %}

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/pages/datatables_advanced.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/datatables_api.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/components_notifications_pnotify.js' %}"></script>
{#	<script type="text/javascript" src="{% static 'assets/js/pages/dashboard.js' %}"></script>#}
	<!-- /theme JS files -->

</head>

<body class="navbar-bottom navbar-top">
    {%  include "main_navbar.html" %}
	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
                <h4 class="text-uppercase"><i class="icon-arrow-left52 position-left"></i><a href="/user/home/" style="color: #26a69a;">Home </a>/ <a href="/user/admin/view-programs/" style="color: #26a69a;">View Programs </a><span class="text-semibold small">/ Edit Program</span></h4>
			</div>


			<div class="heading-elements">

				<div class="heading-btn-group">
                    <a onclick="window.history.back();" style="color: #fff;"><button type="button" class="btn btn-info btn-sm"><i class="icon-circle-left2 position-left"></i><bold>Back</bold></button></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->


	<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">
					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<a href="#" class="media-left"><img src="{% static 'assets/images/demo/users/face11.jpg' %}" class="img-circle img-sm" alt=""></a>
								<div class="media-body">
									<span class="media-heading text-semibold">{% if user.is_authenticated %}Hello, {{ user.first_name }}!{% endif %}</span>
									<div class="text-size-mini text-muted">{{ user.email }}</div>
								</div>

								<div class="media-right media-middle">
									<ul class="icons-list">
										<li>
											<a href="#"><i class="icon-cog3"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
								    <li><a href="/user/home/"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                <li class="navigation-header"><span>Subjects</span> <i class="icon-menu" title="Forms"></i></li>
                                    <li><a href="/user/admin/view-subjects/"><i class="icon-book3"></i> <span>All Sujects</span></a></li>
                                <li class="navigation-header"><span>Programs</span> <i class="icon-menu6" title="Forms"></i></li>
                                    <li class="active"><a><i class="icon-menu6"></i> <span>Programs</span></a>
                                        <ul>
                                            <li><a href="/user/admin/view-programs/">View All Programs</a></li>
                                            <li class="active"><a onclick="location.reload()">Edit Program</a></li>
                                        </ul>
                                    </li>
                                <li class="navigation-header"><span>Institues</span> <i class="icon-menu" title="Forms"></i></li>
                                     <li><a href="/user/admin/view-institutes/"><i class="icon-tree6"></i> <span>All Institutes</span></a></li>
                                     <li><a href="/user/admin/view-institute-admins/"><i class="icon-users4"></i> <span>Register Institute Admin</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /main navigation -->
				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

			</div>
			<!-- /main content -->
		</div>
		<!-- /page content -->
	</div>
	<!-- /page container -->
    {%  include 'footer_html.html' %}
    <script>
        function myfunc(e) {
            // Setup
            var notice = new PNotify({
                title: 'Confirmation',
                text: '<p>Are you sure you want to delete the program?</p>',
                hide: false,
                type: 'warning',
                confirm: {
                    confirm: true,
                    buttons: [
                        {
                            text: 'Yes',
                            addClass: 'btn btn-sm btn-success'
                        },
                        {
                            addClass: 'btn btn-sm btn-danger'
                        }
                    ]
                },
                buttons: {
                    closer: false,
                    sticker: false
                },
                history: {
                    history: false
                }
            })

            // On confirm
            notice.get().on('pnotify.confirm', function() {
                $.ajax({
                    type: 'POST',
                    url: '/user/admin/delete-program/',
                    data:{
                        program_id : e
                    },
                    success: function(response) {
                      // alert(response.status);
                        if(response.status){
                            $('#'+e).hide();
                            new PNotify({
                                title: 'Confirmation',
                                text: response.msg,
                                addclass: 'alert alert-success alert-styled-right',
                                type: 'success'
                            });
                        }
                        else{
                            new PNotify({
                                title: 'Some Issue!',
                                text: response.msg,
                                addclass: 'alert alert-danger alert-styled-right',
                                type: 'error'
                            });
                        }
                    }
                });
            })

            // On cancel
            notice.get().on('pnotify.cancel', function() {
                new PNotify({
                    title: 'Changed your mind ?',
                    text: 'Delete Aborted',
                    addclass: 'alert alert-danger alert-styled-right',
                    type: 'error'
                });
            });
        }
    </script>
</body>
</html>