{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
    {%  include "global_js_css_files.html" %}

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/pages/datatables_advanced.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/datatables_api.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/components_notifications_pnotify.js' %}"></script>
{#	<script type="text/javascript" src="{% static 'assets/js/pages/dashboard.js' %}"></script>#}
	<!-- /theme JS files -->

</head>

<body class="navbar-bottom navbar-top">
    {%  include "main_navbar.html" %}
	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
                <h4 class="text-uppercase"><i class="icon-arrow-left52 position-left"></i><a href="/user/home/" style="color: #26a69a;">Home </a><span class="text-semibold small">/ View Programs</span></h4>
			</div>


			<div class="heading-elements">

				<div class="heading-btn-group">
                    <a onclick="window.history.back();" style="color: #fff;"><button type="button" class="btn btn-info btn-sm"><i class="icon-circle-left2 position-left"></i><bold>Back</bold></button></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->


	<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">
					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<a href="#" class="media-left"><img src="{% static 'assets/images/demo/users/face11.jpg' %}" class="img-circle img-sm" alt=""></a>
								<div class="media-body">
									<span class="media-heading text-semibold">{% if user.is_authenticated %}Hello, {{ user.first_name }}!{% endif %}</span>
									<div class="text-size-mini text-muted">{{ user.email }}</div>
								</div>

								<div class="media-right media-middle">
									<ul class="icons-list">
										<li>
											<a href="#"><i class="icon-cog3"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
								    <li><a href="/user/home/"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                <li class="navigation-header"><span>Subjects</span> <i class="icon-menu" title="Subjects"></i></li>
                                    <li><a href="/user/admin/view-subjects/"><i class="icon-book3"></i> <span>All Sujects</span></a></li>
                                <li class="navigation-header"><span>Programs</span> <i class="icon-menu" title="Programs"></i></li>
                                    <li class="active"><a href="/user/admin/view-programs/"><i class="icon-menu6"></i> <span>All Programs</span></a></li>
                                <li class="navigation-header"><span>Institues</span> <i class="icon-menu" title="Institutes"></i></li>
                                     <li><a href="/user/admin/view-institutes/"><i class="icon-tree6"></i> <span>All Institutes</span></a></li>
                                     <li><a href="/user/admin/view-institute-admins/"><i class="icon-users4"></i> <span>Register Institute Admin</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /main navigation -->
				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Style combinations -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h2 class="panel-title text-center">All Programs</h2>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>

{#					<div class="panel-body">#}
{#						The <code>DataTables</code> is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. <strong>Datatables support all available table styling.</strong>#}
{#					</div>#}

                    <table class="table datatable-button-init-basic datatable-show-all datatable-column-search-inputs table-bordered table-striped table-hover datatable-complex-header">
						<thead>
	                        <tr>
                                <th>ID</th>
	                            <th>Program Name</th>
	                            <th>Subjects</th>
	                            <th>Edit/ Delete</th>
                                <th style="display: none;"></th>
							    <th style="display: none;"></th>
                            </tr>
						</thead>
						<tbody>
							{%  for i in resp %}
                                <tr id="{{ i.program_id }}">
                                    <td>{{ i.program_id }}</td>
                                    <td>{{ i.program_name }}</td>
                                    <td>
                                        {% for j in i.subject_list %}
                                            {{ j|title }} <br>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="/user/admin/edit-program/{{ i.program_id }}/" style="color: #fff;"><button type="button" class="btn btn-info btn-sm"><bold>Edit</bold><i class="icon-pencil7 position-right"></i></button></a>
                                        <button type="button" onclick="myfunc({{ i.program_id }})" class="btn btn-danger btn-sm pnotify-confirm-delete"><bold>Delete</bold><i class="icon-cross position-right"></i></button>
                                    </td>
                                    <td style="display: none; visibility: hidden;"></td>
                                    <td style="display: none; visibility: hidden;"></td>
                                 </tr>
                            {% endfor %}
						</tbody>
						<tfoot>
							<tr>
				                <td></td>
				                <td></td>
				                <td></td>
                                <td></td>
				                <td style="display: none;"></td>
                                <td style="display: none;"></td>
				            </tr>
						</tfoot>
					</table>
				</div>
				<!-- /style combinations -->
			</div>
			<!-- /main content -->
		</div>
		<!-- /page content -->
	</div>
	<!-- /page container -->
    {%  include 'footer_html.html' %}
    <script>
        function myfunc(e) {
            // Setup
            var notice = new PNotify({
                title: 'Confirmation',
                text: '<p>Are you sure you want to delete the program?</p>',
                hide: false,
                type: 'warning',
                confirm: {
                    confirm: true,
                    buttons: [
                        {
                            text: 'Yes',
                            addClass: 'btn btn-sm btn-success'
                        },
                        {
                            addClass: 'btn btn-sm btn-danger'
                        }
                    ]
                },
                buttons: {
                    closer: false,
                    sticker: false
                },
                history: {
                    history: false
                }
            })

            // On confirm
            notice.get().on('pnotify.confirm', function() {
                $.ajax({
                    type: 'POST',
                    url: '/user/admin/delete-program/',
                    data:{
                        program_id : e
                    },
                    success: function(response) {
                      // alert(response.status);
                        if(response.status){
                            $('#'+e).hide();
                            new PNotify({
                                title: 'Confirmation',
                                text: response.msg,
                                addclass: 'alert alert-success alert-styled-right',
                                type: 'success'
                            });
                        }
                        else{
                            new PNotify({
                                title: 'Some Issue!',
                                text: response.msg,
                                addclass: 'alert alert-danger alert-styled-right',
                                type: 'error'
                            });
                        }
                    }
                });
            })

            // On cancel
            notice.get().on('pnotify.cancel', function() {
                new PNotify({
                    title: 'Changed your mind ?',
                    text: 'Delete Aborted',
                    addclass: 'alert alert-danger alert-styled-right',
                    type: 'error'
                });
            });
        }
    </script>
</body>
</html>