{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
{#    <script>#}
{#        jQuery(window).load(function(){#}
{#            jQuery(".hameid-loader-overlay").fadeOut(500);#}
{#        });#}
{#    </script>#}
{#    <style>#}
{#        .hameid-loader-overlay {#}
{#            width: 100%;#}
{#            height: 100%;#}
{#            background: url('images/preloader.gif') center no-repeat #FFF;#}
{#            z-index: 99999;#}
{#            position: fixed;#}
{#        }#}
{#    </style>#}


	<!-- Theme JS files -->

	<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/jgrowl.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/stepy.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/daterangepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/anytime.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/legacy.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/picker_date.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/components_notifications_pnotify.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/wizard_stepy.js' %}"></script>
	<!-- /theme JS files -->

</head>

<body class="navbar-bottom">
{#    <div class="hameid-loader-overlay"></div>#}


		<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html"><img src="{% static 'assets/images/logo_light.png' %}" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="login_advanced.html#">
						<i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> Go to website</span>
					</a>
				</li>
				<li>
					<a href="login_advanced.html#">
						<i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Contact admin</span>
					</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-cog3"></i>
						<span class="visible-xs-inline-block position-right"> Options</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->



	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">
				<div class="col-lg-8 col-xs-12 col-lg-offset-2" style="margin-top:100px;">
		            <!-- Wizard with validation -->
		            <div class="panel panel-white">
						<div class="panel-heading">
							<div class="text-center">
								<div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
								<h5 class="content-group">Create account <small class="display-block">All fields are required</small></h5>
							</div>
						</div>



	                	<form class="stepy-validation" enctype='application/json' method="POST" action="" id="form1">
							<fieldset title="1">
								<legend class="text-semibold">Credentials</legend>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>First Name: <span class="text-danger">*</span></label>
											<input type="text" id="firstname" name="firstname" class="form-control required" placeholder="Goutham">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label>Last Name: <span class="text-danger">*</span></label>
											<input type="text" id="lastname" name="lastname" class="form-control required" placeholder="Arukonda">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Username: <span class="text-danger">*</span></label>
											<input type="text" onblur="myfunc1()" id="username" name="username" class="form-control required" placeholder="John Doe">
											<label id="usernameavaliable" class="validation-error-label"></label>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label>Email address: <span class="text-danger">*</span></label>
											<input type="email" onblur="myfunc2()" id="email" name="email" class="form-control required" placeholder="your@email.com">
											<label id="emailavaliable" class="validation-error-label"></label>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Enter Password: <span class="text-danger">*</span></label>
											<input type="password" onblur="myfunc3()" name="password" id="password" class="form-control" required="required" placeholder="Minimum 8 characters allowed">
                                            <label id="passwordcheck" class="validation-error-label"></label>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label>Re-Enter Password: <span class="text-danger">*</span></label>
											<input type="password" name="repeat_password" class="form-control" required="required" placeholder="Try different password">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Role: <span class="text-danger">*</span></label>
											<div class="radio">
												<label>
													<input id="role_student" value="3" type="radio" name="role" class="styled required">
													Student
												</label>
											</div>

											<div class="radio">
												<label>
													<input id="role_teacher" value="2" type="radio" name="role" class="styled">
													Teacher
												</label>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label>Gender: <span class="text-danger">*</span></label>
											<div class="radio">
												<label>
													<input id="gender_male" value="0" type="radio" name="gender" class="styled required">
													Male
												</label>
											</div>

											<div class="radio">
												<label>
													<input id="gender_female" value="1" type="radio" name="gender" class="styled">
													Female
												</label>
											</div>

											<div class="radio">
												<label>
													<input id="gender_other" value="2" type="radio" name="gender" class="styled">
													Other
												</label>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
	                		<fieldset title="2">
								<legend class="text-semibold">Additional Info</legend>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Select Institute: <span class="text-danger">*</span></label>
											<select name="institute" data-placeholder="Select institute" class="select required">
                                                <option></option>
                                                {%  for institute in institutes %}
                                                    <option value="{{ institute.institute_id }}">{{ institute.institute_name }}, {{ institute.institute_city }}, {{ institute.institute_state }}</option>
                                                {%  endfor %}
											</select>
										</div>
									</div>

									<div class="col-md-6 studentonly">
										<div class="form-group">
											<label>Board of Education: <span class="text-danger">*</span></label>
											<select name="boe" data-placeholder="Select Board of Education" class="select required studentonly1">
												<option></option>
												{%  for boe in boes %}
                                                    <option value="{{ boe.boe_id }}">{{ boe.boe_name }}</option>
                                                {% endfor %}
											</select>
										</div>
									</div>

									<div class="col-md-6 teacheronly" >
										<div class="form-group">
											<label>Experience #: <span class="text-danger">*</span></label>
											<input type="text" name="experience" class="form-control required teacheronly1">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Phone #: <span class="text-danger">*</span></label>
											<input type="text" name="mobile" class="form-control required" placeholder="+99-9999999999" data-mask="+99-9999999999">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label>Date of Birth: <span class="text-danger">*</span></label>
											<div class="input-group">
											<span class="input-group-addon"><i class="icon-calendar3"></i></span>
											<input type="text" name="dob" class="form-control required" id="anytime-month-numeric" value="04/06/2014">
										</div>
										</div>
									</div>
								</div>
								<div class="row studentonly">
									<div class="col-md-6" >
										<div class="form-group">
											<label>Standard: <span class="text-danger">*</span></label>
											<select name="standard_id" data-placeholder="Select Standard" class="select required studentonly1">
                                                <option></option>
                                                {%  for standard in standards%}
                                                    <option value="{{ standard.standard_id }}">{{ standard.standard_name }}</option>
                                                {%  endfor %}
											</select>
										</div>
									</div>

									<div class="col-md-6" >
										<div class="form-group">
											<label>Roll Number: <span class="text-danger">*</span></label>
											<input type="text" name="roll_number" placeholder="Give Your Institute Roll No" class="form-control required studentonly1">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6" >
										<div class="form-group">
											<label>Program: <span class="text-danger">*</span></label>
											<select name="program_id" data-placeholder="Select Program" class="select required">
                                                <option></option>
                                                {%  for program in programs %}
                                                    <option value="{{ program.program_id }}">{{ program.program_name }}</option>
                                                {%  endfor %}
											</select>
										</div>
									</div>

									<div class="col-md-6" >
										<div class="form-group">
											<label>Address: <span class="text-danger">*</span></label>
											<input type="text" name="address" class="form-control required">
										</div>
									</div>
								</div>
							</fieldset>
							<button type="submit" class="btn btn-primary stepy-finish">Submit <i class="icon-check position-right"></i></button>
						</form>
		            </div>
		            <!-- /wizard with validation -->
		        </div>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->



	<!-- Footer -->
	<div class="navbar navbar-default footer">
		<ul class="nav navbar-nav visible-xs-block">
			<li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
		</ul>

		<div class="navbar-collapse collapse" id="footer">
			<div class="navbar-text">
				&copy; 2015. <a href="#" class="navbar-link">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" class="navbar-link" target="_blank">Eugene Kopyov</a>
			</div>

			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /footer -->

	<script type="text/javascript">
		$('input:radio[name="role"]').change(function(){
		    if($(this).val() == '2'){
		       	$( ".studentonly" ).each(function() {
					$(this).hide();
				});
				$( ".studentonly1" ).each(function() {
					$(this).removeClass('required');
				});
				$( ".teacheronly" ).each(function() {
					$(this).show();
				});
				$( ".teacheronly1" ).each(function() {
					$(this).addClass('required');
				});
		    }
		    else{
		    	$( ".studentonly" ).each(function() {
					$(this).show();
				});
				$( ".studentonly1" ).each(function() {
					$(this).addClass('required');
				});
				$( ".teacheronly" ).each(function() {
					$(this).hide();
				});
				$( ".teacheronly1" ).each(function() {
					$(this).removeClass('required');
				});
		    }
		});

		function myfunc1(){
			document.getElementById('usernameavaliable').textContent = "";
			$.ajax({
		        type: 'POST',
		        url: '/user/usernameverification/',
		        data:{
		        	username : document.getElementById("username").value 
		        },
		        success: function(response) {
		          // alert(response.status);
		          	if(response.status){
		          		$("#usernameavaliable").addClass('validation-valid-label').removeClass('validation-error-label');
		          		document.getElementById('usernameavaliable').textContent = "Username Avaliable";
			        	new PNotify({
				            title: 'Username Avaliable',
				            text: 'Please continue to the next page',
				            addclass: 'alert alert-success alert-styled-right',
				            type: 'success'
				        });				       
					}
					else{
						$("#usernameavaliable").addClass('validation-error-label').removeClass('validation-valid-label');
		          		document.getElementById('usernameavaliable').textContent = "Username Not Avaliable";
						new PNotify({
				            title: 'Some Issue!',
				            text: response.msg,
				            addclass: 'alert alert-danger alert-styled-right',
				            type: 'error'
				        });
					}
				}
	        });
		}

		function myfunc2(){
			document.getElementById('emailavaliable').textContent = "";
			$.ajax({
		        type: 'POST',
		        url: '/user/emailverification/',
		        data:{
		        	email : document.getElementById("email").value 
		        },
		        success: function(response) {
		          // alert(response.status);
		          	if(response.status){
		          		$("#emailavaliable").addClass('validation-valid-label').removeClass('validation-error-label');
		          		document.getElementById('emailavaliable').textContent = "Email Avaliable";
			        	new PNotify({
				            title: 'Email Avaliable',
				            text: 'Please continue to the next page',
				            addclass: 'alert alert-success alert-styled-right',
				            type: 'success'
				        });				       
					}
					else{
						$("#emailavaliable").addClass('validation-error-label').removeClass('validation-valid-label');
		          		document.getElementById('emailavaliable').textContent = "Email Not Avaliable";
						new PNotify({
				            title: 'Some Issue!',
				            text: response.msg,
				            addclass: 'alert alert-danger alert-styled-right',
				            type: 'error'
				        });
					}
				}
	        });
		}

        function myfunc3(){
			document.getElementById('passwordcheck').textContent = "";
			$.ajax({
		        type: 'POST',
		        url: '/user/validatepassword/',
		        data:{
		        	password : document.getElementById("password").value,
                    username : document.getElementById("username").value,
                    first_name : document.getElementById("firstname").value,
                    last_name : document.getElementById("lastname").value,
                    email : document.getElementById("email").value
		        },
		        success: function(response) {
		          // alert(response.status);
		          	if(response.status){
		          		$("#passwordcheck").addClass('validation-valid-label').removeClass('validation-error-label');
		          		document.getElementById('passwordcheck').textContent = "Password is okay";
			        	new PNotify({
				            title: 'Email Avaliable',
				            text: 'Please continue to the next page',
				            addclass: 'alert alert-success alert-styled-right',
				            type: 'success'
				        });
					}
					else{
						$("#passwordcheck").addClass('validation-error-label').removeClass('validation-valid-label');
		          		document.getElementById('passwordcheck').textContent = response.failed;
						new PNotify({
				            title: 'Some Issue!',
				            text: response.failed,
				            addclass: 'alert alert-danger alert-styled-right',
				            type: 'error'
				        });
					}
				}
	        });
		}

	    $('#form1').submit(function(e)
	    {
	    	var a = document.getElementById('usernameavaliable').textContent;
	    	var b = document.getElementById('emailavaliable').textContent;
	    	var c = document.getElementById('passwordcheck').textContent;
	    	var url_temp;
	    	if($("input[name=role]:checked").val() == "0"){
	    		url_temp = '/student/register/';
	    	}
	    	if($("input[name=role]:checked").val() == "1"){
	    		url_temp = '/teacher/register/';
	    	}
	    	e.preventDefault();
	    	if($("#form1").validate().form()) {
		        $.ajax({
		            type: 'POST',
		            url: url_temp,
		            data: $("#form1").serialize(),
		            success: function(response) {
			            if(response.status === true)
		                {
		                	new PNotify({
					            title: 'Registration Successful',
					            text: response.msg,
					            addclass: 'alert alert-success alert-styled-right',
					            type: 'success'
					        });
		                }
		                else{
		                	$('#usernameavaliable').show();
		                	$('#emailavaliable').show();
		                	$('#passwordcheck').show();
		                	document.getElementById('usernameavaliable').textContent = a;
		                	document.getElementById('emailavaliable').textContent = b;
		                	document.getElementById('passwordcheck').textContent = c;
		                	new PNotify({
					            title: 'Registration Unsuccessful',
					            text: response.msg,
					            addclass: 'alert alert-danger alert-styled-right',
					            type: 'error'
					        });
		                }
		            }
		        });
		    }
		    else{
		    	new PNotify({
		            title: 'Registration Unsuccessful',
		            text: 'Validation error!',
		            addclass: 'alert alert-danger alert-styled-right',
		            type: 'error'
		        });
		    }
	    });
	</script>

</body>
</html>
