{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
    {%  include "global_js_css_files.html" %}
    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/core.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/form_wizard/form.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/form_wizard/form_wizard.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/sweet_alert.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/wizard_form.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/components_notifications_pnotify.js' %}"></script>
	<!-- /theme JS files -->
</head>

<body class="navbar-bottom navbar-top">
    {%  include "main_navbar.html" %}
	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
                <h4 class="text-uppercase"><i class="icon-arrow-left52 position-left"></i><a href="/user/home/" style="color: #26a69a;">Home </a>/ <a href="/user/admin/view-institutes/" style="color: #26a69a;">View Institutes </a><span class="text-semibold small">/ Add Institute</span></h4>
			</div>


			<div class="heading-elements">

				<div class="heading-btn-group">
                    <a onclick="window.history.back();" style="color: #fff;"><button type="button" class="btn btn-info btn-sm"><i class="icon-circle-left2 position-left"></i><bold>Back</bold></button></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->


	<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">
					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<a href="#" class="media-left"><img src="{% static 'assets/images/demo/users/face11.jpg' %}" class="img-circle img-sm" alt=""></a>
								<div class="media-body">
									<span class="media-heading text-semibold">{% if user.is_authenticated %}Hello, {{ user.first_name }}!{% endif %}</span>
									<div class="text-size-mini text-muted">{{ user.email }}</div>
								</div>

								<div class="media-right media-middle">
									<ul class="icons-list">
										<li>
											<a href="#"><i class="icon-cog3"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
								    <li><a href="/user/home/"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                <li class="navigation-header"><span>Subjects</span> <i class="icon-menu" title="Subjects"></i></li>
                                    <li><a><i class="icon-book3"></i> <span>Subjects</span></a>
	                                    <ul>
	                                        <li><a href="/user/admin/view-subjects/"><i class="icon-eye2"></i>View All Subjects</a></li>
	                                        <li><a href="/user/admin/add-subject/"><i class="icon-plus-circle2"></i>Add Subject</a></li>
	                                    </ul>
                                    </li>
                                <li class="navigation-header"><span>Programs</span> <i class="icon-menu" title="Programs"></i></li>
                                    <li><a><i class="icon-menu6"></i> <span>Programs</span></a>
                                        <ul>
                                            <li><a href="/user/admin/view-programs/"><i class="icon-eye2"></i>View All Programs</a></li>
                                            <li><a href="/user/admin/add-program/"><i class="icon-plus-circle2"></i>Add Program</a></li>
                                        </ul>
                                    </li>
                                <li class="navigation-header"><span>Institutes</span> <i class="icon-menu" title="Institutes"></i></li>
                                    <li class="active"><a><i class="icon-stack2"></i> <span>Institutes</span></a>
                                        <ul>
                                            <li><a href="/user/admin/view-institutes/"><i class="icon-eye2"></i>View All Institutes</a></li>
                                            <li class="active"><a href="/user/admin/add-institute/"><i class="icon-plus-circle2"></i>Add Institute</a></li>
                                        </ul>
                                    </li>
                                    <li class="active"><a><i class="icon-users2"></i> <span>Institute Admin</span></a>
                                        <ul>
                                            <li><a href="/user/admin/view-institute-admins/"><i class="icon-eye2"></i>View All Institute Admins</a></li>
                                            <li class="active"><a href="/user/admin/add-institute-admin/"><i class="icon-plus-circle2"></i>Add Institute Admin</a></li>
                                        </ul>
                                    </li>
							</ul>
						</div>
					</div>
					<!-- /main navigation -->
				</div>
			</div>
			<!-- /main sidebar -->

            <!-- Main content -->
			<div class="content-wrapper">
                <!-- Wizard with validation -->
                <div class="col-lg-8 col-lg-offset-2 col-xs-12">
                    <div class="panel panel-white">
					<div class="panel-heading">
						<h6 class="panel-title text-center text-uppercase text-bold">Institutes</h6>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>


                	<form class="form-validation" enctype='application/json' method="POST" action="" id="form1">
						<fieldset class="step" id="validation-step1">
							<h6 class="form-wizard-title text-semibold">
								<span class="form-wizard-count"><i class="icon-plus-circle2"></i></span>
								Add Institute
								<small class="display-block">All feilds are required</small>
							</h6>

							<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-bold">Institute Name: <span class="text-danger">*</span></label>
                                        <input type="text" name="institute_name" class="form-control required" placeholder="Institute Name" value="{{ institute.institute_name }}">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-bold">Address: <span class="text-danger">*</span></label>
                                        <input type="text" name="address" class="form-control required" placeholder="Address" value="{{ institute.address }}">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-bold">State: <span class="text-danger">*</span></label>
                                        <input type="text" name="state" class="form-control required" placeholder="State" value="{{ institute.state }}">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-bold">Manager Name: <span class="text-danger">*</span></label>
                                        <input type="text" name="manager_name" class="form-control required" placeholder="Manager Name" value="{{ institute.manager_name }}">
                                    </div>
                                </div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="text-bold">Select Programs: <span class="text-danger">*</span></label>
										<select onchange="myfunc()" data-placeholder="Select position" multiple="multiple" class="select required" name="program_list">
											<option></option>
                                            {% for temp in resp %}
                                                <option value="{{ temp.program_id}}">{{ temp.program_name }}</option>
                                            {%  endfor %}
										</select>
									</div>
									<div class="form-group">
                                        <label class="text-bold">City: <span class="text-danger">*</span></label>
                                        <input type="text" name="city" class="form-control required" placeholder="City" value="{{ institute.city }}">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-bold">Moblie Number: <span class="text-danger">*</span></label>
                                        <input type="text" name="phone_no" class="form-control required" placeholder="+91-9876543210" data-mask="+99-9999999999" value="{{ institute.phone_no }}">
                                    </div>
								</div>
							</div>
						</fieldset>

						<div class="form-wizard-actions">
							<button class="btn btn-info" id="validation-next" type="submit">Submit <i class="icon-paperplane"></i></button>
						</div>
					</form>
	            </div>
                </div>
	            <!-- /wizard with validation -->

            </div>
		</div>
		<!-- /page content -->
	</div>
	<!-- /page container -->
    {%  include 'footer_html.html' %}
    <script>
        function myfunc() {
            $('#form1').validate().checkForm();
        }
        $('#form1').submit(function(e)
	    {
	    	e.preventDefault();
	    	if($("#form1").validate().form()) {
		        $.ajax({
		            type: 'POST',
		            url: '/institute/register/',
		            data: $("#form1").serialize(),
		            success: function(response) {
			            if(response.status === true)
		                {
                            $("#validation-next").addClass('btn-success').removeClass('btn-info').removeClass('btn-danger');
                            $("#validation-next").html('Saved <i class="icon-check"></i>');
		                	new PNotify({
					            title: 'Success!',
					            text: response.msg,
					            addclass: 'alert alert-success alert-styled-right',
					            type: 'success'
					        });
		                	setTimeout( function(){
                                window.location.href='/user/admin/view-institutes/';
                            }, 1500 );
		                }
		                else{
                            $("#validation-next").addClass('btn-danger').removeClass('btn-info').removeClass('btn-success');
                            $("#validation-next").html('Not Saved, Try again <i class="icon-alert"></i>');
		                	new PNotify({
					            title: 'Registration Unsuccessful',
					            text: response.msg,
					            addclass: 'alert alert-danger alert-styled-right',
					            type: 'error'
					        });
		                	setTimeout( function(){
                                $("#validation-next").html('Submit <i class="icon-paperplane"></i>');
                                $("#validation-next").removeClass('btn-danger').addClass('btn-info').removeClass('btn-success');
                            }, 3000 );
		                }
		            }
		        });
		    }
		    else{
		    	new PNotify({
		            title: 'Save Unsuccessful',
		            text: 'Validation error!',
		            addclass: 'alert alert-danger alert-styled-right',
		            type: 'error'
		        });
		    }
	    });

    </script>

</body>
</html>